/* .jumbotron {
    margin: 0;
}
 */

.carousel-container {
    margin-bottom: 2rem;
}

.display-4 a {
    color: black;
}

.display-4 a:hover {
    cursor: pointer;
    text-decoration: none;
}
/* 
.home-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 */
.card {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.card-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.card-imgs a {
    margin-bottom: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* .read-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: white;
    border: 1.5px solid #007bff;
    color: #007bff;
    font-weight: 600;
}
 */

.cards-container {
    margin-bottom: 5rem;
}
